<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tailwind Intro</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
  <div id="app" class="section">
    <div class="columns">
      <div class="column is-5">
      
              <h1 class="title">About me</h1>
              <div class="section">
                  
                      <div class="media">
                          <div class="media-left">
                              <figure class="image is-128x128">
                                  <img src="http://pbs.twimg.com/profile_images/782956430412410880/xOWODH20_400x400.jpg">
                            </figure>
                          </div>
                          <div class="media-content">
                            <h1 class="title is-4">The Family</h1>
                            <p class="subtitle is-6">_TheFamily</p>
                            <p>The Family nurtures Entrepreneurs through Education, Unfair Advantages &amp; Capital.</p>
                            <br>
                                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 79px; height: 28px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.1025be460f33762a866ea882e1687ff4.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=TheFamily&amp;show_count=false&amp;show_screen_name=false&amp;size=l&amp;time=1534674571537" data-screen-name="TheFamily"></iframe>
                                <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
                      
                  
                </div>
              
              </div>
              <div class="is-hidden-mobile">
<br><hr>
              <div class="level">
                <div class="level-left">
                  <p class="control">
                      <input class="input is-rounded" type="text" placeholder="Search">
                      
                    </p>
                  </div>
                  <div class="level-right">
                      <span class="tag is-rounded is-primary is-medium">startups<button class="delete is-small"></button></span>
                  </div>
              </div>
              <table class="table is-narrow is-hoverable is-fullwidth">
                    <tbody>
                        <tr>
                            <td >
                                <svg width="12px" height="12px" aria-hidden="true" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
                                </svg>
                                <span class="is-size-7 has-text-weight-light">125d</span>
                            </td>
                            <td >
                                <svg width="12px" height="12px" aria-hidden="true" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                                <span class="is-size-7 has-text-weight-light">251</span>
                            </td>
                            <td>
                                <a class="is-size-7">The Basics About GDPR – Welcome to The Family</a>
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    <svg width="10px" height="10px" aria-hidden="true" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
                                    </svg>
                                    <span class="is-size-7 has-text-weight-light">15d</span>
                                </td>
                                <td>
                                    <svg width="10px" height="10px" aria-hidden="true" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                                    <span class="is-size-7 has-text-weight-light">25</span>
                                </td>
                                <td>
                                    <span class="is-size-7">Il était une fois dans l'ouest</span>
                                </td>
                            </tr>
                            <tr>
                                    <td>
                                        <svg width="16px" height="16px" aria-hidden="true" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
                                        </svg>
                                        <span class="is-size-7 has-text-weight-light">15d</span>
                                    </td>
                                    <td>
                                        <svg width="16px" height="16px" aria-hidden="true" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                                        <span class="is-size-7 has-text-weight-light">71</span>
                                    </td>
                                    <td>
                                        <span class="is-size-7">The Beauty of Working with People Rather Than Companies</span>
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                            <svg width="16px" height="16px" aria-hidden="true" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
                                            </svg>
                                            <span class="is-size-7 has-text-weight-light">125d</span>
                                        </td>
                                        <td>
                                            <svg width="16px" height="16px" aria-hidden="true" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                                            <span class="is-size-7 has-text-weight-light">251</span>
                                        </td>
                                        <td>
                                            <span class="is-size-7">Joining The Family as CEO of Decusis – Decusis – Medium</span>
                                        </td>
                                    </tr>
                        
                                </tbody>
                                </table>

            </table>
        </div>
            </div>
      <div class="column">
          
              <h2 class="title">My reading list</h2>
              <div class="tabs">
                      <ul>
                        <li id="popular_tab" class="is-active"><a onclick="switchToPopular()">Popular</a></li>
                        <li id="recent_tab"><a onclick="switchToRecent()">Recent</a></li>
                      </ul>
                    </div>
              
              <div id="popular_posts">
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left is-hidden-mobile">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/b51c87887d02c7499bfc0d16ec1a73332531167036df2ef513410b05.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">The Beauty of Working with People Rather Than Companies</p>
                              <p class="heading">By Pietro Invernizzi - 136 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>You’ve probably noticed: every single organisation trying to support startups emphasises the importance of people / founders in their mission statement: “We’re not just about the money, we’re in it for the people...” 🕺🏻 <a target="_blank" href="https://salon.thefamily.co/the-beauty-of-working-with-people-rather-than-companies-fd8623db6002">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left is-hidden-mobile">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/87ceba807efd8945bb1047f53516f9da91367e4e5f9c53a54c3e16f9.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Learning to Speak European – Welcome to The Family</p>
                              <p class="heading">By Pietro Invernizzi - 253 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>I started at The Family 4 months ago with the mission of expanding our portfolio of European startups. This means handling incoming applications and finding startups in the ecosystem that haven’t... <a target="_blank" href="https://salon.thefamily.co/learning-to-speak-european-7d3dab68307">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/7b2a1ee6f922ee4b33accb428d97f544cc597dcbf1141aceaeb74355.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">The Basics About GDPR – Welcome to The Family</p>
                              <p class="heading">By Charlotte Multon - 254 days ago</p>
                              <div class="tags">
                                  
                                  <a class="tag filter is-rounded is-primary">startups</a>
                                  
                                  <a class="tag filter is-rounded is-primary">entrepreneurs</a>
                                  
                              </div>
                          </div>
                      </div>
                      <p>Not all of us at The Family are exactly legal experts, which is why we make sure to have some great lawyers around to help us 😉 And that’s good, because right now we have lots of entrepreneurs... <a target="_blank" href="https://salon.thefamily.co/the-basics-about-gdpr-ff4cafbc92bd">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/58bed90b66ba5b45086b8573142fcd9f4304ad766e74ba065703af70.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Joining The Family as CEO of Decusis – Decusis – Medium</p>
                              <p class="heading">By @thibauld - 261 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>I am overly excited to announce that I am joining The Family as CEO of Decusis, a full stack organization committed to advancing the crypto ecosystem through knowledge, network and capital. I’m also joining The Family as a Part-time Director with a special focus on blockchain and cryptocurrencies-related activities. <a target="_blank" href="https://salon.thefamily.co/joining-the-family-as-ceo-of-decusis-3995041eb43f">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/e715e3952365919f742cd515b5b544c6b3b974fdb995b72bc1ef9bfa.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Start Crew</p>
                              <p class="heading"> 67 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>Start Crew is an intensive weekend in Berlin dedicated for student entrepreneurs. Learn from seasoned founders &amp; top operators, connect with peers from all over Europe, and level up your ambition FOR REAL. <a target="_blank" href="http://www.startcrew.co">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/fd22230e00a6e20c1b7cbc817e1c2c11306063103a5e1df76d87cd51.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Bridging Crypto Ecosystems in Europe 💪 – Decusis – Medium</p>
                              <p class="heading">By @thibauld - 179 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>Decusis is a fullstack organisation helping entrepeneurs learn, connect and succeed in the decentralised space. As part of our mission, we are actively working to bridge the different crypto ecosystems across Europe. Through the events we’ve held over the past few months, we’ve had the opportunity to connect with the crypto communities in Berlin, London and Paris — and we were blown away by the talent, energy and the potential we’ve seen. <a target="_blank" href="https://medium.com/decusis/bridging-crypto-ecosystems-in-europe-7fd4c84c1f91">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left is-hidden-mobile">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/f32b59daf4b42843849c1338c6ecf88c390e61f578db9a9ccd8b4140.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Being Your Team’s Human Capital Investor – Welcome to The Family</p>
                              <p class="heading">By Pietro Invernizzi - 62 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>Every entrepreneur realises it: There is no easy step in building a company. Building and managing a team that can one day become a game-changing company is one of the hardest ones. How you go about... <a target="_blank" href="https://salon.thefamily.co/being-your-teams-human-capital-investor-8fa87a98a0a">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/6de4f945b086a9b9aa4d489f22f9a0b285e32620b4c45f016dd455a3.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Koudetat - Apprends à entreprendre</p>
                              <p class="heading"> 130 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>Tout le mois de juillet, tu viens apprendre à entreprendre, avec d’autres personnes motivées. Le format est simple : des conférences pédagogiques de 2 heures max qui te donnent les principes les plus importants que tu dois connaître pour créer ta boite. En clair : comment bien démarrer, faire les bons choix, éviter les erreurs de débutants. <a target="_blank" href="http://Koudetat.co">Read more</a></p>

                      
                  </article>
                  
                  <article class="box">
                      <div class="media">
                          <figure class="media-left">
                                  <p class="image">
                                      <img src="https://tweetblog.netlify.com/img/resized-150x150/8c186921214a8edc626c67955b7d4b87200eded5e61948b1cf7ebeac.jpg">
                                  </p>
                          </figure>
                          <div class="media-content">     
                          
                              <p class="title is-5">Zenaton lets you build and run workflows with ease – TechCrunch</p>
                              <p class="heading"> 61 days ago</p>
                              <div class="tags">
                                  
                              </div>
                          </div>
                      </div>
                      <p>French startup Zenaton raised $2.35 million from Accel and Point Nine Capital, with the Slack Fund, Kima Ventures, Julien Lemoine and Francis Nappez also participating. The company wants to take care of the most tedious part of your application — asynchronous jobs and background tasks. While it has... <a target="_blank" href="https://techcrunch.com/2018/06/18/zenaton-lets-you-build-and-run-workflows-with-ease/">Read more</a></p>

                      
                  </article>
                  
                  
              </div>

              <div id="recent_posts" class="hidden">
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/8c186921214a8edc626c67955b7d4b87200eded5e61948b1cf7ebeac.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Zenaton lets you build and run workflows with ease – TechCrunch</p>
                                  <p class="heading">By  - 61 days ago</p>
                                  
                              </div>
                          </div>
                          <p>French startup Zenaton raised $2.35 million from Accel and Point Nine Capital, with the Slack Fund, Kima Ventures, Julien Lemoine and Francis Nappez also participating. The company wants to take care of the most tedious part of your application — asynchronous jobs and background tasks. While it has... <a target="_blank" href="https://techcrunch.com/2018/06/18/zenaton-lets-you-build-and-run-workflows-with-ease/">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/f32b59daf4b42843849c1338c6ecf88c390e61f578db9a9ccd8b4140.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Being Your Team’s Human Capital Investor – Welcome to The Family</p>
                                  <p class="heading">By Pietro Invernizzi - 62 days ago</p>
                                  
                              </div>
                          </div>
                          <p>Every entrepreneur realises it: There is no easy step in building a company. Building and managing a team that can one day become a game-changing company is one of the hardest ones. How you go about... <a target="_blank" href="https://salon.thefamily.co/being-your-teams-human-capital-investor-8fa87a98a0a">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/e715e3952365919f742cd515b5b544c6b3b974fdb995b72bc1ef9bfa.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Start Crew</p>
                                  <p class="heading">By  - 67 days ago</p>
                                  
                              </div>
                          </div>
                          <p>Start Crew is an intensive weekend in Berlin dedicated for student entrepreneurs. Learn from seasoned founders &amp; top operators, connect with peers from all over Europe, and level up your ambition FOR REAL. <a target="_blank" href="http://www.startcrew.co">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/6de4f945b086a9b9aa4d489f22f9a0b285e32620b4c45f016dd455a3.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Koudetat - Apprends à entreprendre</p>
                                  <p class="heading">By  - 130 days ago</p>
                                  
                              </div>
                          </div>
                          <p>Tout le mois de juillet, tu viens apprendre à entreprendre, avec d’autres personnes motivées. Le format est simple : des conférences pédagogiques de 2 heures max qui te donnent les principes les plus importants que tu dois connaître pour créer ta boite. En clair : comment bien démarrer, faire les bons choix, éviter les erreurs de débutants. <a target="_blank" href="http://Koudetat.co">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/b51c87887d02c7499bfc0d16ec1a73332531167036df2ef513410b05.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">The Beauty of Working with People Rather Than Companies</p>
                                  <p class="heading">By Pietro Invernizzi - 136 days ago</p>
                                  
                              </div>
                          </div>
                          <p>You’ve probably noticed: every single organisation trying to support startups emphasises the importance of people / founders in their mission statement: “We’re not just about the money, we’re in it for the people...” 🕺🏻 <a target="_blank" href="https://salon.thefamily.co/the-beauty-of-working-with-people-rather-than-companies-fd8623db6002">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/fd22230e00a6e20c1b7cbc817e1c2c11306063103a5e1df76d87cd51.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Bridging Crypto Ecosystems in Europe 💪 – Decusis – Medium</p>
                                  <p class="heading">By @thibauld - 179 days ago</p>
                                  
                              </div>
                          </div>
                          <p>Decusis is a fullstack organisation helping entrepeneurs learn, connect and succeed in the decentralised space. As part of our mission, we are actively working to bridge the different crypto ecosystems across Europe. Through the events we’ve held over the past few months, we’ve had the opportunity to connect with the crypto communities in Berlin, London and Paris — and we were blown away by the talent, energy and the potential we’ve seen. <a target="_blank" href="https://medium.com/decusis/bridging-crypto-ecosystems-in-europe-7fd4c84c1f91">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/87ceba807efd8945bb1047f53516f9da91367e4e5f9c53a54c3e16f9.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Learning to Speak European – Welcome to The Family</p>
                                  <p class="heading">By Pietro Invernizzi - 253 days ago</p>
                                  
                              </div>
                          </div>
                          <p>I started at The Family 4 months ago with the mission of expanding our portfolio of European startups. This means handling incoming applications and finding startups in the ecosystem that haven’t... <a target="_blank" href="https://salon.thefamily.co/learning-to-speak-european-7d3dab68307">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/7b2a1ee6f922ee4b33accb428d97f544cc597dcbf1141aceaeb74355.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">The Basics About GDPR – Welcome to The Family</p>
                                  <p class="heading">By Charlotte Multon - 254 days ago</p>
                                  
                              </div>
                          </div>
                          <p>Not all of us at The Family are exactly legal experts, which is why we make sure to have some great lawyers around to help us 😉 And that’s good, because right now we have lots of entrepreneurs... <a target="_blank" href="https://salon.thefamily.co/the-basics-about-gdpr-ff4cafbc92bd">Read more</a></p>

                          
                      </article>
                      
                      <article class="box">
                          <div class="media">
                              <figure class="media-left">
                                      <p class="image">
                                          <img src="https://tweetblog.netlify.com/img/resized-150x150/58bed90b66ba5b45086b8573142fcd9f4304ad766e74ba065703af70.jpg">
                                      </p>
                              </figure>
                              <div class="media-content">     
                              
                                  <p class="title is-5">Joining The Family as CEO of Decusis – Decusis – Medium</p>
                                  <p class="heading">By @thibauld - 261 days ago</p>
                                  
                              </div>
                          </div>
                          <p>I am overly excited to announce that I am joining The Family as CEO of Decusis, a full stack organization committed to advancing the crypto ecosystem through knowledge, network and capital. I’m also joining The Family as a Part-time Director with a special focus on blockchain and cryptocurrencies-related activities. <a target="_blank" href="https://salon.thefamily.co/joining-the-family-as-ceo-of-decusis-3995041eb43f">Read more</a></p>

                          
                      </article>
                      
                      
                  </div>
              
          </div>
      

    </div>
    

  </div>
</body>
</html>

